.alert {
  font-family: $headings-font-family;
  font-weight: 300;
  line-height: 1.4;

  &.inherit {
    font-size: inherit;
    padding: inherit;
//    margin-bottom: inherit;
    margin-top: inherit;
  }

  &.less-padding {
    padding: 5px;
    font-size: 17px;
  }

  &.height-form-control {
    height: $form-control-height;

    &.vertical-align {
      line-height: $form-control-height;
    }
  }

  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;

  &.alert-beta {
    background: linear-gradient(45deg, $shopblocks-gradient-red 12%, $shopblocks-gradient-orange 100%);
    color: $white;
    border: none;
  }

  &.alert-tip {
    background: $pro-tip-bg;
    color: $white;
    border-color: $pro-tip-bg;

    p {
      color: $white;
    }
  }

  &.alert-secondary {
    background: $brand-secondary;
    color: $white;
    border-color: $brand-secondary;
  }

  &.alert-success {
    background: $alert-success-bg;
    color: $alert-success-text;
    border-color: $alert-success-bg;
  }

  &.alert-info {
    background: $alert-info-bg;
    color: $alert-info-text;
    border-color: $alert-info-bg;
  }

  &.alert-warning {
    background: $alert-warning-bg;
    color: $alert-warning-text;
    border-color: $alert-warning-bg;
  }

  &.alert-danger {
    background: $alert-danger-bg;
    color: $alert-danger-text;
    border-color: $alert-danger-bg;
  }

  &.alert-muted {
    color: $shopblocks-grey-dark;
    background: $shopblocks-grey-light;
    border-color: $shopblocks-grey-light;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}