//== Shopblocks Brand Colours ==//

$shopblocks-green: #00b2a9;
$shopblocks-red: #ff585f;
$shopblocks-navy: #37424a;
$shopblocks-light-blue: #48a9e7;
$shopblocks-gradient-red: #dc0451;
$shopblocks-gradient-orange: #EEA030;
$shopblocks-subtle-highlight: #EEEBA0;

$blocklab-yellow: #fdc82f;
$blocklab-black: #1f1f1f;

$control-navy: #202B33;
$control-blue: #3A485D;
$control-purple: #604F99;
$control-teal: #3080A1;
$control-blue-purple: #49679D;

$shopblocks-grey-dark: #51555E;
$shopblocks-grey-mid: #B2BDBF;
$shopblocks-grey-light: #E9EFF0;

$brand-primary: $shopblocks-green;
$brand-secondary: $shopblocks-red;

$brand-success: #74c25f;
$brand-info: $shopblocks-green;
$brand-warning: #EEA030;
$brand-danger: $shopblocks-gradient-red;

$shopblocks-navy-gradient-bg: linear-gradient(45deg, $shopblocks-navy 0%, darken($shopblocks-navy, 5%) 100%);
$shopblocks-page-header-bg: linear-gradient(45deg, $brand-primary 12%, $brand-success 100%);
$shopblocks-red-page-header-bg: linear-gradient(45deg, $shopblocks-red 12%, $shopblocks-gradient-red 100%);
$shopblocks-grey-gradient: linear-gradient(45deg, lighten($shopblocks-grey-mid, 10%) 12%, $shopblocks-grey-light 100%);

$control-gradient: radial-gradient(circle farthest-corner at right top, $brand-success 13%, $shopblocks-green 34%, $control-purple 70%);

.shopblocks-success {
  color: $brand-success !important;
}

.shopblocks-danger {
  color: $brand-danger !important;
}

.shopblocks-warning {
  color: $brand-warning !important;
}

.shopblocks-green {
  color: $shopblocks-green !important;
}

.shopblocks-red {
  color: $shopblocks-red !important;
}

.shopblocks-navy {
  color: $shopblocks-navy !important;
}

.shopblocks-blue {
  color: $shopblocks-light-blue !important;
}

.shopblocks-grey-light {
  color: $shopblocks-grey-light !important;
}

.shopblocks-grey-mid {
  color: $shopblocks-grey-mid !important;
}

.shopblocks-grey-dark {
  color: $shopblocks-grey-dark !important;
}

.blocklab-yellow {
  color: $blocklab-yellow !important;
}

.blocklab-black {
  color: $blocklab-black !important;
}

.shopblocks-green-bg {
  background-color: $shopblocks-green !important;
}

.shopblocks-red-bg {
  background-color: $shopblocks-red !important;
}

.shopblocks-navy-bg {
  background-color: $shopblocks-navy !important;
}

.shopblocks-grey-light-bg {
  background-color: $shopblocks-grey-light !important;
}

.shopblocks-grey-mid-bg {
  background-color: $shopblocks-grey-mid !important;
}

.shopblocks-grey-dark-bg {
  background-color: $shopblocks-grey-dark !important;
}

.shopblocks-subtle-highlight {
  color: $shopblocks-subtle-highlight !important;
}

.blocklab-yellow-bg {
  background-color: $blocklab-yellow !important;
}

.blocklab-black-bg {
  background-color: $blocklab-black !important;
}

.control-purple-bg {
  background-color: $control-purple !important;
}


