.btn {
  &.btn-default {
    border-radius: $border-radius-base;
    color: $shopblocks-grey-dark;
    background-color: $white;
    border: 1px solid $shopblocks-grey-mid;

    &:hover, &:focus, &.active, &:active {
      background-color: darken($shopblocks-grey-light, 5%);
      border-color: darken($shopblocks-grey-mid, 10%);
    }
  }

  &.btn-primary {
    color: $white;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    border-radius: $border-radius-base;

    &:hover, &:focus, &.active, &:active {
      background-color: darken($brand-secondary, 10%);
      border-color: darken($brand-secondary, 10%);
    }
  }

  &.btn-secondary {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
    border-radius: $border-radius-base;

    &:hover, &:focus, &.active, &:active {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
    }
  }

  &.btn-tertiary {
    color: $white;
    background-color: $shopblocks-navy;
    border-color: $shopblocks-navy;
    border-radius: $border-radius-base;

    &:hover, &:focus, &.active, &:active {
      background-color: darken($shopblocks-navy, 10%);
      border-color: darken($shopblocks-navy, 10%);
    }
  }

  &.huge {
    padding: 15px 50px 17px 50px;
    font-weight: 300;
    font-size: 30px;

    @media screen and (max-width: $screen-xs-max) {
      padding: 15px;
    }
  }

  &.border-right-none {
    border-right: none;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .btn-block-screens {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $screen-md-max) {
  .btn-block-screens-and-md {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .btn-block-sm {
    display: block;
    width: 100%;
  }
}

.btn {
  font-family: "camptonbook", Helvetica, Arial, sans-serif;
}

.btn {
  &.no-focus-outline {
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }
}

.btn {
  &.text-left {
    text-align: left;
  }
}