.no-pointer {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-disabled {
  cursor: no-drop !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-top {
  border-top: none !important;
}

.border-bottom-mid {
  border-bottom: 1px solid $shopblocks-grey-mid;
}

.border-bottom-light {
  border-bottom: 1px solid $shopblocks-grey-light;
}

.border-right-none {
  border-right: none;
}

.border-left-none {
  border-left: none;
}

.border-radius-zero {
  border-radius: 0 !important;
}

.max-page-width {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  &.control {
    padding: 0 15px;
  }
}

.page-block {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background: $white;
  padding: 15px;
  border-radius: $border-radius-base;
  box-shadow: 0 2px 2px transparentize($shopblocks-grey-dark, 0.8);
  border: 1px solid $shopblocks-grey-light;

  &.light-grey {
    background: $shopblocks-grey-light;
  }

  &.dark-grey {
    background: $shopblocks-grey-dark;
  }

  &.less-padding {
    padding: 0 15px 0 15px;
  }

  &.no-padding {
    padding: 0;
  }

  &.extra-padding {
    padding: 35px;

    @media screen and (max-width: $screen-xs-max) {
      padding: 15px;
    }
  }

  &.colour-zero {
    background: $colour0;
    border: 1px solid $colour0;
    color: $white;
  }
  &.colour-one {
    background: $colour1;
    border: 1px solid $colour1;
    color: $white;
  }
  &.colour-two {
    background: $colour2;
    border: 1px solid $colour2;
    color: $white;
  }
  &.colour-three {
    background: $colour3;
    border: 1px solid $colour3;
    color: $white;
  }
  &.colour-four {
    background: $colour4;
    border: 1px solid $colour4;
    color: $white;
  }
  &.colour-five {
    background: $colour5;
    border: 1px solid $colour5;
    color: $white;
  }
  &.colour-six {
    background: $colour6;
    border: 1px solid $colour6;
    color: $white;
  }
  &.colour-seven {
    background: $colour7;
    border: 1px solid $colour7;
    color: $white;
  }

  &.shopblocks-green {
    background: $shopblocks-green;
    border: 1px solid $shopblocks-green;
    color: $white;
    box-shadow: none;
  }

  &.shopblocks-red {
    background: $shopblocks-red;
    border: 1px solid $shopblocks-red;
    color: $white;
    box-shadow: none;
  }

  &.shopblocks-navy {
    background: $shopblocks-navy;
    border: 1px solid $shopblocks-navy;
    color: $white;
    box-shadow: none;
  }

  &.shopblocks-gradient-red {
    background: $shopblocks-gradient-red;
    border: 1px solid $shopblocks-gradient-red;
    color: $white;
    box-shadow: none;
  }

  &.brand-success {
    background: $brand-success;
    border: 1px solid $brand-success;
    color: $white;
    box-shadow: none;
  }

  &.shopblocks-grey-light {
    background: $shopblocks-grey-light;
    border: 1px solid $shopblocks-grey-light;
    color: $white;
  }

  &.control-purple {
    background: $control-purple;
    border: 1px solid $control-purple;
    color: $shopblocks-grey-light;
  }

  &.control-blue-purple {
    background: $control-blue-purple;
    border: 1px solid $control-blue-purple;
    color: $shopblocks-grey-light;
  }

  &.control-teal {
    background: $control-teal;
    border: 1px solid $control-teal;
    color: $shopblocks-grey-light;
  }
}

.header-light-border-bottom {
  border-bottom: 2px solid $shopblocks-grey-mid;
  padding-bottom: 10px;
}