.help-block {
  margin-bottom: 0;
  border-radius: $border-radius-base;
  @extend .campton;
}

.has-error {
  .form-control {
    border-color: $brand-danger;

    &:focus {
      border-color: $brand-danger;
      box-shadow: none;
    }
  }

  .input-group-addon {
    color: $white;
    background-color: $brand-danger;
    border-color: darken($brand-danger, 10%);
  }
}

.has-success {
  .form-control {
    border-color: $brand-success;

    &:focus {
      border-color: $brand-success;
      box-shadow: none;
    }
  }

  .input-group-addon {
    color: $white;
    background-color: $brand-success;
    border-color: darken($brand-success, 10%);
  }
}

.has-error {
  .help-block {
    color: $white;
    background: $brand-danger;
    padding: 6px;
  }
}

.input-group {
  .help-block {
    padding: 32px 0 3px 0;
  }
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

/* angular form validation */

#editCustomer {
  input {
    &.form-control {
      &.ng-invalid {
        &.ng-touched {
          border-color: $brand-warning;
        }
      }
    }

    &.form-control {
      &.ng-valid {
        &.ng-touched {
          border-color: $brand-success;
        }
      }
    }
  }
}


