.form-control {
  border-radius: $border-radius-base;

  &.width-100 {
    width: 100px;
  }

  &.width-70-xs {
    @media screen and (max-width: $screen-xs-max) {
      width: 70px;
    }
  }

  &:focus {
    outline-color: $white;
    border-color: $shopblocks-grey-mid;
    box-shadow: inset 0 0px 0px lighten($shopblocks-grey-mid, 0.5),0 0 3px lighten($shopblocks-grey-mid, 0.5);
  }
}

.input-group {
  &.width-200 {
    width: 200px;
  }
  .width-50 {
    width: 50px;
  }
}

label {
  font-weight: normal;
}

input::-webkit-input-placeholder {
  color: $shopblocks-grey-mid;
}

input:-moz-placeholder {
  color: $shopblocks-grey-mid;
}

input::-moz-placeholder {
  color: $shopblocks-grey-mid;
}

input:-ms-input-placeholder {
  color: $shopblocks-grey-mid;
}