@media screen and (max-width: $screen-xs-max) {
  .text-center-xs {
    text-align: center !important;
  }

  .text-left-xs {
    text-align: left;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .text-center-sm {
    text-align: center;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-screens {
    text-align: center;
  }

  .text-left-screens {
    text-align: left;
  }
}

@media screen and (max-width: $screen-md-max) {
  .text-center-screens-and-md {
    text-align: center;
  }
}

.inherit-styles {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;

  &:hover, &:focus {
    text-decoration: inherit;
    font-weight: inherit;
  }
}

.breakword {
  word-wrap: break-word;
}

a {
  &.disabled {
    cursor: default;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bold {
  font-weight: bold !important;
}

.not-bold {
  font-weight: normal;
}

.greyed-out {
  opacity: 0.5;
}

.strikethrough {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-56 {
  font-size: 56px !important;
}

.font-64 {
  font-size: 64px !important;
}

.font-72 {
  font-size: 72px !important;
}

.font-80 {
  font-size: 80px !important;
}

.font-100 {
  font-size: 100px !important;
}

.font-120 {
  font-size: 120px !important;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase !important;
}

.capitalise-all-words {
  text-transform: capitalize !important;
}

.fa-1-5 {
  font-size: 1.5em;
}

.fa-1-3 {
  font-size: 1.3em !important;
}

.bigger {
  font-size: 1.5em;
}

.double-size {
  font-size: 2em;
}

small {
  &.smaller {
    font-size: 0.4em;
  }
}

p:last-child {
    margin-bottom: 0;
}

