.clickable-cell {
  @extend .cursor-pointer;
}

td.clickable-cell {
  &:hover {
      background: #f5f5f5;
  }
}

.table-hover {
    td.clickable-cell {
        &:hover {
            background: none;
        }
    }
}

.wait {
  cursor: wait !important;
}
