.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.vertical-align-top {
  vertical-align: top;
}

.top-3 {
  top: 3px;
}

@media screen and (max-width: $screen-xs-max) {
  .pull-right {
    &.center-xs {
      float: none !important;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .pull-right {
    &.center-screens {
      float: none !important;
    }
  }
}

.bring-it-forward {
  z-index: 999;
}

@media screen and (max-width: $screen-sm-max) {
  .center-on-screens {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .position-fixed {
    position: fixed;
  }
}