/** Global font styles for all Shopblocks applications **/

.campton {
  font-family: "camptonbook", Helvetica, Arial, sans-serif;
}

.lato {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

body, input {
  font-family: $body-font-family;
  color: $shopblocks-grey-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  //margin-top: 0;
  color: $shopblocks-grey-dark;
  line-height: $optimum-line-height;
}

h4 {
  font-size: $font-size-h4;
  margin: 5px 0 15px 0;

  small {
    font-style: normal;
  }
}

a, .link-lookalike {
  color: $link-color;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}

a {
  &.shopblocks-red {
    color: $shopblocks-red;
    cursor: pointer;

    &:hover, &:focus {
      text-decoration: underline;
      color: darken($shopblocks-red, 15%);
    }
  }
}

p {
  font-family: $body-font-family;
  line-height: $optimum-line-height;
  font-weight: 400;
  letter-spacing: normal;
  color: $shopblocks-grey-dark;
  font-style: normal;
  font-size: 15px;
  margin: 0 0 16px 0;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 16px;
  }

  &.double-size {
    font-size: 1.5em;
  }

  &.bigger {
    font-size: 1.2em;
  }
}

.optimum-readability {
  font-size: 24px;
  line-height: $optimum-line-height;
  font-weight: 300;
  letter-spacing: normal;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 20px;
    line-height: $optimum-line-height;
    font-weight: 300;
    letter-spacing: normal;
  }

  p {
    font-size: 24px;
    line-height: $optimum-line-height;
    font-weight: 300;
    letter-spacing: normal;
  }

  &.bold {
    font-weight: bold;
  }
}

.danger-colour {
  color: $brand-danger;
}

.success-colour {
  color: $brand-success;
}

.font-light {
  font-weight: 300;
}

.hover-red {
  &:hover, &:focus {
    color: $shopblocks-red;
  }
}

.hover-red-darker {
  &:hover, &:focus {
    color: darken($shopblocks-red, 10%);
  }
}

.no-underline {
  text-decoration: none !important;
}
